img {
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 3em;
}

header {
    text-align: center;
    text-decoration: wavy;
}

h3 {
    text-align: center;
    color: brown;


}

p {
    font-size: 1em;
    color: gray;
    margin: auto;
    font-weight: bold;
}

a:hover {
    color: brown;
}